################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/src/Validacao.Senha.Application/obj
/src/Validacao.Senha.Domain/obj
/src/Validacao.Senha.Infrastructure/obj
/src/Validacao.Senha.IntegrationTests/obj
/src/Validacao.Senha.UnitTests/obj
/src/Validacao.Senha.Web/obj
/src/.vs/ValidacaoSenha/v16
