################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/src/Validacao.Senha.Application/obj
/src/Validacao.Senha.Domain/obj
/src/Validacao.Senha.Infrastructure/obj
/src/Validacao.Senha.IntegrationTests/obj
/src/Validacao.Senha.UnitTests/obj
/src/Validacao.Senha.Web/obj
/src/.vs/ValidacaoSenha/v16
/src/Validacao.Senha.Web/bin/Debug/net5.0
/src/Validacao.Senha.UnitTests/bin/Debug/net5.0
/src/Validacao.Senha.IntegrationTests/bin/Debug/net5.0
/src/Validacao.Senha.Infrastructure/bin/Debug/net5.0
/src/Validacao.Senha.Domain/bin/Debug/net5.0
/src/Validacao.Senha.Application/bin/Debug/net5.0
