################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Validacao.Senha.Application/bin/Debug/net5.0
/Validacao.Senha.Domain/obj
/Validacao.Senha.Domain/bin/Debug/net5.0
/Validacao.Senha.Application/obj
/Validacao.Senha.Infrastructure/obj
/Validacao.Senha.Infrastructure/bin/Debug/net5.0
/Validacao.Senha.IntegrationTests/bin/Debug/net5.0
/Validacao.Senha.IntegrationTests/obj
/Validacao.Senha.UnitTests/bin/Debug/net5.0
/Validacao.Senha.UnitTests/obj
/Validacao.Senha.Web/bin/Debug/net5.0
/Validacao.Senha.Web/obj
/.vs/ValidacaoSenha/DesignTimeBuild
/.vs/ValidacaoSenha/v16/TestStore/0
/Validacao.Senha.IntegrationTests/bin/Release/net5.0
/Validacao.Senha.UnitTests/bin/Release/net5.0
/src/Validacao.Senha.Application/obj
/src/Validacao.Senha.Domain/obj
/src/Validacao.Senha.Infrastructure/obj
/src/Validacao.Senha.IntegrationTests/bin/Debug/net5.0
/src/Validacao.Senha.UnitTests/bin/Debug/net5.0
/src/Validacao.Senha.IntegrationTests/obj/Validacao.Senha.IntegrationTests.csproj.nuget.g.targets
/src/Validacao.Senha.IntegrationTests/obj/Validacao.Senha.IntegrationTests.csproj.nuget.g.props
/src/Validacao.Senha.IntegrationTests/obj/Validacao.Senha.IntegrationTests.csproj.nuget.dgspec.json
/src/Validacao.Senha.IntegrationTests/obj/project.nuget.cache
/src/Validacao.Senha.IntegrationTests/obj/project.assets.json
/src/Validacao.Senha.UnitTests/obj/Debug/net5.0/Validacao.Senha.UnitTests.assets.cache
/src/Validacao.Senha.UnitTests/obj/Validacao.Senha.UnitTests.csproj.nuget.g.targets
/src/Validacao.Senha.UnitTests/obj/Validacao.Senha.UnitTests.csproj.nuget.g.props
/src/Validacao.Senha.UnitTests/obj/Validacao.Senha.UnitTests.csproj.nuget.dgspec.json
/src/Validacao.Senha.UnitTests/obj/project.nuget.cache
/src/Validacao.Senha.UnitTests/obj/project.assets.json
/src/Validacao.Senha.Web/obj/Validacao.Senha.Web.csproj.nuget.g.targets
/src/Validacao.Senha.Web/obj/Validacao.Senha.Web.csproj.nuget.g.props
/src/Validacao.Senha.Web/obj/Validacao.Senha.Web.csproj.nuget.dgspec.json
/src/Validacao.Senha.Web/obj/project.nuget.cache
/src/Validacao.Senha.Web/obj/project.assets.json
/src/Validacao.Senha.Web/obj/Debug/net5.0/Validacao.Senha.Web.assets.cache
/src/Validacao.Senha.IntegrationTests/obj/Debug/net5.0/Validacao.Senha.IntegrationTests.csproj.AssemblyReference.cache
/src/Validacao.Senha.IntegrationTests/obj/Debug/net5.0/Validacao.Senha.IntegrationTests.assets.cache
